.answerInput {
  visibility: hidden;
}
.answers > Label {
  cursor: pointer;
  color: white;
  background-color: #5184eb;
  padding: 10px;
  border-radius: 20px;
  display: inline-block;
  margin-right: 15px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.correct {
  background-color: green !important;
}

.incorrect {
  background-color: red !important;
}
.disable {
  pointer-events: none;
}

.nextButton {
  border: none;
  cursor: pointer;
  color: white;
  background-color: #f1bd42;
  padding: 10px;
  border-radius: 20px;
  display: inline-block;
  margin-right: 15px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
