.next-name {
    font-Weight: lighter;
    text-align: center;
    font-size: 55px
}

.tech-trivia-name{
    text-align: center;
    font-size: 55px
}
.with-name{
    font-Size: 33px;
    font-Weight: lighter
}
.netapp-name {
    color: #0072bc;
    font: bold;
    font-Size: 55px;
    line-Height: 6rem
}

@media only screen and (max-width: 600px) {
    .next-name, .tech-trivia-name {
        font-size: 2.2rem;
    }
    .with-name{
        font-Size: 24px;
        font-weight:lighter;
    }
    .netapp-name {
        font-Size: 2.2rem;
        line-Height: 4rem
    }
}