.App {
  font-family: sans-serif;
  text-align: center;
}

.u-hidden {
  display: none;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

input {
  border: none;
}

.privacy {
  margin: 0;
  position: bottom;
  font-style: italic;
  font-size: 12px;
}
.privacy a {
  color: blue;
}

.signUpForm {
  display: flex;
  flex-direction: column;
}

.btn-primary {
  border-radius: 50px;
  width: 125px;
  background: #fbbc04;
  border: none;
  color: white;
  height: 25px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}
.form {
  font-size: 20px;
  margin: 10px;
  font-weight: bold;
}

.container {
  margin: 50px;
}

.form-div {
  padding-bottom: 15px;
}

.button-flex {
  display: flex;
  justify-content: center;
}
