.App {
  font-family: sans-serif;
  text-align: center;
}

.u-hidden {
  display: none;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
