* {
  font-family: "Montserrat", sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.u-hidden {
  display: none;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
}

.privacy {
  margin: 0;
  position: bottom;
  font-style: italic;
  font-size: 10px;
}
.privacy a {
  color: blue;
}

.signUpForm {
  display: flex;
  flex-direction: column;
}

.btn-primary {
  border-radius: 50px;
  width: 125px;
  background: #fbbc04;
  border: none;
  color: white;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
}
.form {
  font-size: 20px;
  font-weight: bold;
}

.container {
  margin: 50px;
}

.form-div {
  padding-bottom: 10px;
  font-style: 20px;
  padding-top: 10px;
}

.button-flex {
  display: flex;
  justify-content: center;
}

.footer-img {
  height: 55px;
}

.homepage-input {
  margin-left: 10px;
}
