#spin,
#reset {
  position: absolute;
  bottom: 20vh;
  right: 45vw;
}

#spin:hover {
 cursor: pointer;
} 

#spin:focus,
#reset:focus {
  outline: none;
}

#reset:hover {
  color: red;
  border-color: red;
}

#readout {
  position: absolute;
  bottom: 7vh;
  left: 35vw;
}

#selector {
  position: absolute;
  top: 21vh;
  right: 47.5vw;
  font-size: 40px;
  z-index: 3;
}


.wheel-buttons {
  border: none;
  cursor: pointer;
  color: white;
  background-Color: #f1bd42;
  padding: 10px;
  border-Radius: 20px;
  display: inline-block;
  /* margin-Right: 15px; */
  margin-Top: 3vh;
  /* margin-Bottom: 5vh; */
  width: 113px;
  font-Weight: bold;
  font-Size: 20px;
}
.wheel-buttons:hover {
  cursor: pointer;
 } 

 @media only screen and (max-width: 600px) {
 .fix-margin-left-wheel{
  margin-left: -66px;
  margin-top: -66px;
 }  
}